@model OperasWebSite.Models.Opera

@{
    ViewBag.Title = "Delete";
}

<h2>@Model.Title</h2>
<p>Desea eliminar está opera?</p>

@using (Html.BeginForm("Delete", "Opera", FormMethod.Post))
{
    <div>
        <span>@Html.DisplayNameFor(model => model.Compositor)</span>
        <span>@Html.DisplayFor(model => model.Compositor)</span>
        <span>@Html.DisplayNameFor(model => model.Year)</span>
        <span>@Html.DisplayFor(model => model.Year)</span>
    </div>
    <input type="submit" value="Delete" />
}

<p>
    @Html.ActionLink("Go to index", "Index", "Opera")
</p>


